* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
    max-width: 100vw;
}

input, button {
    outline: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* ID */
/* ID */
/* ID */

/* HEADER */

#main-header {
    padding: 8px 32px;
    max-width: 100vw;
    height: 64px;
    background-color: #571228;
}

#main-header nav ul {
    display: flex;
    list-style: none;
}

#main-header nav ul img {
    min-width: 48px;
    min-height: 48px;
}

#main-header nav ul li {
    margin-left: 32px;
}

#main-header nav ul:first-child {
    margin: 0;
}

#search input {
    width: 100%;
    height: 36px;
    border-radius: 16px;
    padding: 6px 32px;
    font-size: 16px;
    background: #ffffff url('/images/Busca.svg') no-repeat left;
}

/* SIDEBAR */

#ranking {
    list-style: none;
    margin-top: 16px;
    counter-reset: ranking-counter;
}

#ranking li {
    counter-increment: ranking-counter;
    display: flex;
}

#ranking li p {
    padding: 5px 0 8px 8px;
    font-size: 18px;
}

#ranking li::before {
    content: counter(ranking-counter) ". ";
    color: #571228;
    font-size: 24px;
}

#card-recommended {
    margin-top: 32px;
}

#com-recommended {
    margin-top: 32px;
}

/* CLASS */
/* CLASS */
/* CLASS */

.follow {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #3A4E48;
    border-radius: 8px;
    padding: 1.5px 16px;

    color: #571228;
}

.general-name {
    font-size: 20px;
    font-weight: bold;
}

.generic-title {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}

.content {
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
}

#main-header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-content {
    margin: 32px;
    display: flex;
}

.sidebar {
    width: 360px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
    padding: 16px;
    border-radius: 8px;
    border: 1px #454545 solid;
}

.avatar {
    max-width: 86px;
    max-height: 86px;
    list-style: none;
    margin-bottom: 16px;
}

.ppl-recommended {
    display: flex;
    flex-wrap: wrap;
}

.box-recommended {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.list-recommended {
    display: flex;
    flex-wrap: wrap;
}

.box-community {
    padding-left: 8px;
    display: flex;
    flex-wrap: wrap;
}

/* BREAKPOINT */
/* BREAKPOINT */
/* BREAKPOINT */

@media (max-width: 899px) {
    #main-header nav ul img {
        min-width: 45px;
        min-height: 45px;
    }
}